
<app-search></app-search>
<!-- <div >
    <img class="home" src="/assets/home.jpg" alt="jewell image">
    <div class="home-text1">Wear </div>
    <div class="home-text2">the </div>
    <div class="home-text3">confidence.. </div>
    
</div> -->
<app-tag></app-tag>
<app-not-found [visible]="!jewells || jewells.length <=0"
notFoundMessage="Item Not Found !!"
resetLinkText="Try Again !!"></app-not-found>
<ul>
    <li *ngFor="let j of jewells">
        <a routerLink="/jewell/{{j.id}}">
            <img src="{{j.imageUrl}}" alt="jewell image">
            <div class="content">
                <div class="name">
                    {{j.name}}
                </div>
                <span class="favorite {{j.favourite?'':'not'}}">&#9829;</span>
                <div class="star-rating">
                    <star-rating [value]=j.star [totalstars]="5" checkedcolor="#07078c" uncheckedcolor="rgb(175, 191, 191)"
                        size="20px" [readonly]="true"></star-rating>
                </div>
                <div class="price">
                    ₹{{j.price}}
                    <!-- {{j.price|currency}} -->
                </div>
                <!-- <div class="material">
                    {{j.material}}
                </div> -->
            </div>
        </a>
    </li>
</ul>